<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.0.xsd  
http://www.springframework.org/schema/tx  
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx">

	<context:property-placeholder location="classpath:resources/database.properties"></context:property-placeholder>
	<context:annotation-config />
	<context:component-scan base-package="com.pegasus" />

	<tx:annotation-driven transaction-manager = "hibernateTransactionManager"></tx:annotation-driven>
	<bean id="hibernateTransactionManager" class="org.springframework.orm.Hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="Prefix" value="/WEB-INF/jsp" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value = "${jdbc.driverClassName}"></property>
		<property name="url" value = "${database.url}"></property>
		<property name="username" value = "${database.username}"></property>
		<property name="password" value = "${database.password}"></property>
		<!-- destroy-method="close" p:driverClassName="${jdbc.driverClassName}"
		p:url="${jdbc.databaseurl}" p:username="${jdbc.username}" p:password="${jdbc.password}">  -->
	</bean>

	<bean id="PropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:Location="/WEB-INF/jdbc.properties">
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation">
			<value>Resources/hibernate.cfg.xmls</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.sql_show">${hibernate.sql_show}</prop>
				<prop key = "hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop> 
			</props>
		</property>
	</bean>
</beans>